<div class="container px-4">
  <h2 class="pb-2 border-bottom">About Us</h2>

  <div class="mt-5">
    <p class="lead">🚀 Welcome to VerdGem, the Caribbean’s premier online education platform dedicated to delivering high-quality, on demand, learning content.</p>
    
    <h3 class="mt-4">Our Mission</h3>
    <p class="lead">Our mission is to make education more accessible and affordable across the Caribbean 
    while preserving our rich culture, passing down vital skills, and elevating academic standards in the region.</p>

    <p class="lead">At VerdGem, we believe in making education accessible and relevant for Caribbean students.
    Our platform is designed to prepare students for CSEC exams through engaging digital learning
    experiences. We offer two key tools to support students on their academic journey:</p>
    
    <h3 class="display-7 fw-bold text-body-emphasis">VerdGem – On demand CSEC Video Courses</h3>
    <p class="lead">Our on demand video learning platform is coming soon! This platform will
    offer high-quality, regionally relevant educational courses. In our first phase, we are 
    producing on-demand CSEC preparation courses designed to help students succeed in their exams.</p>
    
    <h3 class="display-7 fw-bold text-body-emphasis">VerdGem Quiz App – AI-Powered Exam Quizzes</h3>
    <p class="lead">To further support students, we developed the VerdGem Quiz App, a tool that
    provides AI-powered quizzes to help students test their knowledge and track their progress. Students
    get feedback at the end of every quiz, highlighting what they did well and how they can improve
    their answers.</p>

    
    <p class="lead mt-2">With VerdGem and the VerdGem Quiz App, students can access a comprehensive CSEC preparation 
    experience—anytime, anywhere. 🎯</p>

    <%= link_to "Back to Homepage", authenticated_root_path, class:"btn btn-dark btn-lg mt-4" %>
  </div>
</div>  