<div class="container px-4">
  <h2 class="pb-2 border-bottom">Contact Us</h2>

  <div class="mt-5">
    <p class="lead">Check out or <span class="green-link">Frequently Asked Questions</span> for help</p>
    <p class="lead">Need more information? Contact us at <span class="green-link">info@verdgem.com</span></p>
    <p class="lead">Looking to partner with us? Reach us at <span class="green-link">partnerships@verdgem.com</span></p>

    <%= link_to "Back to Homepage", authenticated_root_path, class:"btn btn-dark btn-lg mt-4" %>
  </div>
</div>  