<div class="container px-4">
  <h2 class="pb-2 border-bottom">Contact Us</h2>

  <div class="mt-5">
    <p>Check out or <span class="green_link">Frequently Asked Questions</span> for help</p>
    <p>Need more information? Contact us at <span class="green_link">info@verdgem.com</span></p>
    <p>Looking to partner with us? Reach us at <span class="green_link">partnerships@verdgem.com</span></p>

    <%= link_to "Back to Homepage", authenticated_root_path, class:"btn btn-dark btn-lg mt-4" %>
  </div>
</div>  