<div class="container px-4">
  <h2 class="pb-2 border-bottom">Our Blog</h2>

  <div class="mt-5">
    <p class="lead">🚀 Blog Coming Soon!</p>
    
    <p class="lead">Stay tuned for insightful articles, expert study tips, and the latest updates on
    CSEC exam preparation! Our upcoming blog will feature study guides, success stories, and strategies
    to help you excel in your exams. Get ready to learn, stay motivated, and achieve your goals
    with VerdGem!</p>

    <%= link_to "Back to Homepage", authenticated_root_path, class:"btn btn-primary btn-lg mt-4" %>
  </div>
</div>  